@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input:ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ecf6+0,ecd5fb+19,d3acee+43,d3acee+44,d3acee+46,d3acee+48,ecd5fb+100 */
  background: rgb(242, 236, 246);
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgb(242, 236, 246)), color-stop(19%, rgb(236, 213, 251)), color-stop(43%, rgb(211, 172, 238)), color-stop(44%, rgb(211, 172, 238)), color-stop(46%, rgb(211, 172, 238)), color-stop(48%, rgb(211, 172, 238)), to(rgb(236, 213, 251)));
  background: linear-gradient(to right, rgb(242, 236, 246) 0%, rgb(236, 213, 251) 19%, rgb(211, 172, 238) 43%, rgb(211, 172, 238) 44%, rgb(211, 172, 238) 46%, rgb(211, 172, 238) 48%, rgb(236, 213, 251) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2ecf6", endColorstr="#ecd5fb",GradientType=1 );
  /* IE6-9 */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  min-height: 100vh;
  line-height: 1.2;
}

/*header*/
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #212429;
  margin-top: 75px;
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.main {
  background-color: #fafafa;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.content {
  padding: 50px 0;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
  z-index: 50;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  height: 60px;
  width: 60px;
}

.menu > li > a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__wrap .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}
/*center*/
.discription {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.centerA {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttomA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  margin-top: 410px;
  height: 275px;
  width: 100%;
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*slider*/
.parallax-slider {
  height: 410px;
  width: 85%;
  min-width: 376px;
  overflow: hidden;
  border-radius: 10px;
  background: url("img/FonSky.jpg") right;
  background-attachment: local;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.parallax-slider-text {
  padding-top: 74px;
  padding-left: 40%;
  padding-right: 45%;
  padding-bottom: 0%;
  font-size: 20.8px;
  font-weight: bold;
  color: #7a52b3;
  text-transform: uppercase;
}

@media (max-width: 571px) {
  .center {
    height: 320px;
  }
}
@media (max-width: 767px) {
  .parallax-slider-text {
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 45%;
    padding-bottom: 0%;
  }
}
@media (max-width: 509px) {
  .parallax-slider-text {
    padding-top: 10%;
    padding-left: 0%;
    padding-bottom: 0%;
  }

  .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 610px;
  }

  .buttom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1186px) {
  .parallax-slider-text {
    padding-top: 13%;
    padding-left: 35%;
    padding-right: 45%;
    padding-bottom: 0%;
  }
}
.image-slider1 {
  height: 410px;
  width: 55%;
  min-width: 500px;
}

.swiper-conteiner {
  position: absolute;
}

.image-slider1-image {
  text-align: center;
  height: 426px;
  min-width: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.image-slider1-image img {
  height: 410px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.parallax-slider .swiper-button-prev::after,
.parallax-slider .swiper-button-next::after {
  color: #b280f7;
  font-weight: bold;
  font-size: 40px;
}

.image-slider1 .swiper-button-prev::after,
.image-slider1 .swiper-button-next::after {
  color: #7a52b3;
  font-weight: bold;
  display: none;
  font-size: 45px;
}

.swiper-pagination {
  margin-top: 0px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  background-color: #7a52b3;
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #b086eb;
}

.ikon {
  height: 300px;
  width: 300px;
}

.ikon img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30% auto;
}

.links {
  padding-top: 10px;
  font-size: 18px;
  height: 100%;
  width: 300px;
  background-color: #212429;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 1.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links h3 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}
.links .blok4,
.links .blok5,
.links .blok6,
.links .blok7 {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: #1b1b1b;
  background-color: rgb(120, 196, 120);
  border: 3px solid #0e0e0e;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blok4:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok5:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok6:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok7:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

/*buttom*/
.buttom {
  min-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
}

.ikon1 {
  height: 100%;
  width: 300px;
}

.ikon1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30% auto;
}

.links1 {
  padding-top: 10px;
  display: block;
  font-size: 18px;
  height: 100%;
  width: 300px;
  background: #7a52b3;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25%;
}
.links1 h4 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}
.links1 .blok8,
.links1 .blok9,
.links1 .blok10,
.links1 .blok11,
.links1 .blok12 {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: #1b1b1b;
  background-color: rgb(120, 196, 120);
  border: 3px solid #060606;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links1 span {
  color: #F6F6F6;
}

.blok8:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok9:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok10:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok11:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

.blok12:hover {
  background-color: rgb(33, 186, 135);
  color: rgb(0, 0, 0);
}

/*1html*/
@media (max-width: 967px) {
  .center1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ikon3 img {
    margin: 20% 50%;
  }
}
.center1 {
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ikon3 {
  height: 300px;
  width: 320px;
  padding-left: 10px;
}

.ikon3 img {
  margin: 30% 30%;
}

.links2 {
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 4px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
}
.links2 p:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(65, 12, 224);
  display: inline-block;
  margin: 0px 2px 0px;
}
.links2 h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.links2 p:hover {
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links2 p:focus {
  color: brown;
}
.links2 p:visited {
  color: rgb(64, 50, 50);
}
.links2 audio {
  color: #7a52b3;
  font-size: 15px;
}

.links3 {
  padding-top: 10px;
  gap: 1.25%;
  font-size: 18px;
  height: 700px;
  width: 320px;
  background-color: #212429;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links3 h3,
.links3 h4 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}

.links4 {
  padding-top: 10px;
  gap: 1.25%;
  background: #7a52b3;
  border: 1px solid #000000;
  border-radius: 10px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blok4,
.blok5,
.blok6,
.blok7,
.blok8,
.blok9,
.blok10,
.blok11,
.blok12 {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: #1b1b1b;
  background-color: rgb(120, 196, 120);
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  background-color: #212429;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer p {
  font-size: 18px;
  color: #F6F6F6;
}

/*Form*/
.center2 {
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
  margin: 0px auto;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.textinformmain {
  padding-bottom: 10px;
  color: rgb(48, 52, 52);
  font-size: 25px;
  margin: 0px auto;
  text-align: center;
}

.textinform1 {
  text-align: center;
}
.textinform1 p {
  padding-bottom: 25px;
}

.textinform2 {
  padding-top: 25px;
  text-align: center;
}
.textinform2 p {
  padding-bottom: 25px;
}

.textinput {
  border: 1px solid #000000;
  height: 40px;
  padding: 0px 25px;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
}

.textinput1 {
  margin-top: 15px;
  padding-bottom: 25px;
}

.textinput2 {
  border: 1px solid #000000;
  height: 160px;
  padding: 0px 25px;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
}

.textinput:focus {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.textinput2:focus {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.textbutton {
  display: block;
  width: 300px;
  height: 50px;
  background: #7a52b3;
  font-size: 18px;
  color: #111010;
  text-transform: uppercase;
  border-radius: 24px;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  letter-spacing: 1px;
  margin: 25px auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.textbutton:hover {
  background: #b086eb;
}

.textbutton :active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px black;
          box-shadow: 0px 2px 1px black;
  background-color: #080808;
}