/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
before,
after {

    box-sizing: border-box;
}

focus,
active {
    outline: none;
}

a focus,
a active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;


}

input,
button,
textarea {
    font-family: inherit;
}

input:ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a visited {
    text-decoration: none;
}

ahover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
html {
    box-sizing: border-box;
    height: 100%;
  }
  body {
    display: flex;
  
    flex-direction: column;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    background-color: #ebebf6;
    line-height: 1.2;
    height: 100%;
  }
  



/*header*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



*,
*::after,
*::before {
  box-sizing: inherit;
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header {
  flex: 0 0 auto;
  background-color: #212429;
  margin-top: 75px;
 
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

.content {
  padding: 50px 0;
}



.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
   
    display: flex;
    align-items: center;
    img{
        height: 60px;
        width: 60px;
    }
  }

.menu > li > a {
  text-decoration: none;
  transition: 0.3s;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 767px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}



/*center*/
.discription {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.center {
    flex-grow: 1;
    height: 180px;

    margin-right: 0px;

    padding: 5px 0px 60px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.ikon {

    display: inliblock;
    padding-left: 10px;
    height: 100px;
    width: 320px;
}

.links {
    padding-top: 10px;
    font-size: 18px;
    height: 410px;
    width: 300px;
    background-color: #212429;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap:  clamp(0.313rem, -0.028rem + 1.7vw, 1.25rem);
    display: flex;
    flex-direction: column;
   
    

    h3 {
        font-size: 20px;
        font-style: italic;
        color: #F6F6F6;
        margin: 0px auto;
        text-align: center;
    }

    .blok4,
    .blok5,
    .blok6,
    .blok7 {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: #1b1b1b;
        background-color: rgb(120, 196, 120);
        border: 3px solid  #0e0e0e;
        border-radius: 10px;
        padding: 10px 10px;
        cursor: pointer;
        transition: 0.3s;

    }

   
}

.blok4:hover {
    background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok5:hover {
    background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok6:hover {
    background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok7:hover {
    background-color: rgb(33, 186, 135); 
    color: rgb(0, 0, 0);


}

/*footer*/
.buttom {
    margin-top: 230px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px 0px 60px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 1247px;
}

.ikon1 {
    display: inliblock;
    padding-left: 10px;
    height: 100px;
    width: 320px;
}




.links1 {

    padding-top: 10px;
    display: block;
    font-size: 18px;
    height: 505px;
    width: 300px;
    background: #7a52b3;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
   
    gap:  clamp(0.313rem, -0.028rem + 1.7vw, 1.25rem);
   

    h4 {
        font-size: 20px;
        font-style: italic;
        color: #F6F6F6;
        margin: 0px auto;
        text-align: center;
    }

    .blok8,
    .blok9,
    .blok10,
    .blok11,
    .blok12 {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: #1b1b1b;
        background-color: rgb(120, 196, 120);
        border: 3px solid  #060606;
        border-radius: 10px;
        padding: 10px 10px;
        cursor: pointer;
        transition: 0.3s;

    }

    span {
        color: #F6F6F6;
    }
}

.blok8:hover {
  background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok9:hover {
  background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok10:hover {
  background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok11:hover {
  background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}

.blok12:hover {
  background-color: rgb(33, 186, 135);
    color: rgb(0, 0, 0);


}
.futer{
    
    align-items: center;
    margin: 0 auto;
    width: 100%;
}



/*1html*/

.center1 {
   
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 5px 0px 60px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.ikon3 {

    height: 100px;
    width: 320px;
    padding-left: 10px;
}


.links2 {

    height: 100%;
    background-color: #e2d7d7;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 4px;
    

    p:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(65, 12, 224);
        display: inline-block;
        margin: 0px 2px 0px;
       
    }

    h2 {
        text-align: center;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    line-height: 30px;

    p:hover {
        text-decoration: underline;
        cursor: pointer;
        transition: 0.3s;
    }

    p:focus {
        color: brown;
    }

    p:visited {
        color: rgb(64, 50, 50);
    }

}

.links3 {
    padding-top: 10px;
    gap:  clamp(0.313rem, -0.028rem + 1.7vw, 1.25rem);
    font-size: 18px;
    height: 1060px;
    width: 300px;
    background-color: #212429;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    
   

    h3,
    h4 {
        font-size: 20px;
        font-style: italic;
        color: #F6F6F6;
        margin: 0px auto;
        text-align: center;
    }

}

.links4 {
    padding-top: 10px;
    gap:  clamp(0.313rem, -0.028rem + 1.7vw, 1.25rem);
    background: #7a52b3;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 670px;
    display: flex;
    flex-direction: column;
    
}

.blok4,
.blok5,
.blok6,
.blok7,
.blok8,
.blok9,
.blok10,
.blok11,
.blok12 {
  display: block;
   height: 100%;
   width: 100%;
   font-size: 18px;
   color: #1b1b1b;
   background-color: rgb(120, 196, 120);
    border: 5px solid #000000;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
   transition: 0.3s;
}



.futer {
  background-color: #212429;
    height: 65px;
    display: flex;

    justify-content: center;
    align-items: center;

    p {
        font-size: 18px;
        color: #F6F6F6;
    }
}


/*Form*/
.center2 {
    padding-top: 50px;
    width: 100%;
    height: 100%px;
    margin: 0px auto;
    text-align: center;
    flex-grow: 1;
}


.textinformmain {
    padding-bottom: 10px;
    color: rgb(48, 52, 52);
    font-size: 25px;
    margin: 0px auto;
    text-align: center;
}

.textinform1 {

    text-align: center;

    p {
        padding-bottom: 25px;
    }
}

.textinform2 {
    padding-top: 25px;
    text-align: center;

    p {
        padding-bottom: 25px;
    }
}



.textinput {
    border: 1px solid #000000;
    height: 40px;
    padding: 0px 25px;
    font-size: 18px;
    width: 300px;
    cursor: pointer;

}

.textinput1 {
   margin-top: 15px;
    padding-bottom: 25px;
}

.textinput2 {
    border: 1px solid #000000;
    height: 80px;
    padding: 0px 25px;
    font-size: 18px;
    width: 300px;
    cursor: pointer;
}

.textinput:focus {
    box-shadow: 0 0 10px black;
}

.textinput2:focus {
    box-shadow: 0 0 10px black;
}

.textbutton {
    display: block;
    width: 300px;
    height: 50px;
    background: #7a52b3;
    font-size: 18px;
    color: #111010;
    text-transform: uppercase;
    border-radius: 24px;
    box-shadow: 0px 5px 5px black;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    letter-spacing: 1px;
    margin: 25px auto;
    cursor: pointer;
    transition: 0.3s;

}

.textbutton:hover {
  background: #b086eb;
    

}

.textbutton :active {
    position: relative;
    top: 3px;

    box-shadow: 0px 2px 1px black;
    background-color: #080808;


}