@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
before,
after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

focus,
active {
  outline: none;
}

a focus,
a active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input:ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a visited {
  text-decoration: none;
}

ahover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  background-color: #ebebf6;
}

/*header*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  position: fixed;
  background-color: #080808;
}

.wellcom {
  padding-top: 5px;
  display: block;
  width: 400px;
  color: #F6F6F6;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  font-size: 25px;
  font-style: italic;
  margin: 0px auto;
  text-align: center;
}

.navigation {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blok1, .blok2, .blok3 {
  background-color: rgb(13, 232, 13);
  border: 1px solid #000000;
  border-radius: 10px;
  height: 30px;
  padding: 4px 10px;
  font-size: 18px;
}
.blok1 span, .blok2 span, .blok3 span {
  color: #F6F6F6;
}

.blok1:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok2:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok3:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

/*center*/
.discription {
  margin-top: 140px;
  text-align: center;
  font-size: 18px;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.center {
  height: 120px;
  margin-right: 0px;
  padding: 5px 0px 60px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ikon {
  display: inliblock;
  padding-left: 10px;
  height: 100px;
  width: 320px;
}

.links {
  padding-top: 10px;
  display: block;
  font-size: 18px;
  height: 310px;
  width: 300px;
  background-color: #101010;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links h3 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}
.links .blok4, .links .blok5, .links .blok6, .links .blok7 {
  color: #F6F6F6;
  background-color: rgb(13, 232, 13);
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 4px 10px;
}
.links span {
  color: #F6F6F6;
}

.blok4:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok5:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok6:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok7:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

/*footer*/
.buttom {
  margin-top: 190px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px 60px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1250px;
}

.ikon1 {
  display: inliblock;
  padding-left: 10px;
  height: 100px;
  width: 320px;
}

.links1 {
  padding-top: 10px;
  display: block;
  font-size: 18px;
  height: 380px;
  width: 300px;
  background-color: #370aeb;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links1 h4 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}
.links1 .blok8, .links1 .blok9, .links1 .blok10, .links1 .blok11, .links1 .blok12 {
  color: #F6F6F6;
  background-color: rgb(13, 232, 13);
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 4px 10px;
}
.links1 span {
  color: #F6F6F6;
}

.blok8:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok9:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok10:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok11:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

.blok12:hover {
  background-color: rgb(16, 132, 94);
  color: rgb(0, 0, 0);
}

/*1html*/
.center1 {
  height: 1600px;
  margin-top: 130px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px 0px 60px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ikon3 {
  height: 100px;
  width: 320px;
  padding-left: 10px;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links2 {
  height: 1600px;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 4px;
  line-height: 30px;
}
.links2 p:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(65, 12, 224);
  display: inline-block;
  margin: 0px 2px 0px;
}
.links2 h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.links2 p:hover {
  text-decoration: underline;
}
.links2 p:focus {
  color: brown;
}
.links2 p:visited {
  color: rgb(64, 50, 50);
}

.links3 {
  padding-top: 10px;
  display: block;
  font-size: 18px;
  height: 680px;
  width: 300px;
  background-color: #151515;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.links3 h3, .links3 h4 {
  font-size: 20px;
  font-style: italic;
  color: #F6F6F6;
  margin: 0px auto;
  text-align: center;
}

.links4 {
  padding-top: 10px;
  background-color: #370aeb;
  border: 1px solid #000000;
  border-radius: 10px;
  height: 486px;
}

.blok4, .blok5, .blok6, .blok7, .blok8, .blok9, .blok10, .blok11, .blok12 {
  color: #F6F6F6;
  background-color: rgb(13, 232, 13);
  border: 5px solid #000000;
  border-radius: 10px;
  padding: 4px 10px;
}

span {
  color: #F6F6F6;
}

.futer {
  background-color: #000000;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.futer p {
  font-size: 18px;
  color: #F6F6F6;
}

/*Form*/
.center2 {
  padding-top: 200px;
  width: 100%;
  height: 1900px;
  margin: 0px auto;
  text-align: center;
}

.textinformmain {
  padding-bottom: 40px;
  color: rgb(48, 52, 52);
  font-size: 25px;
  margin: 0px auto;
  text-align: center;
}

.textinform1 {
  text-align: center;
}
.textinform1 p {
  padding-bottom: 25px;
}

.textinform2 {
  padding-top: 25px;
  text-align: center;
}
.textinform2 p {
  padding-bottom: 25px;
}

.textinput {
  border: 1px solid #000000;
  height: 40px;
  padding: 0px 25px;
  font-size: 18px;
  width: 300px;
}

.textinput1 {
  padding-bottom: 25px;
}

.textinput:focus {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.textbutton {
  display: block;
  width: 300px;
  height: 50px;
  background-color: #B7AFAF;
  font-size: 18px;
  color: #111010;
  text-transform: uppercase;
  border-radius: 24px;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  letter-spacing: 1px;
  margin: 25px auto;
}

.textbutton:hover {
  background-color: #DEEC9C;
  color: aqua;
}

.textbutton :active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px black;
          box-shadow: 0px 2px 1px black;
  background-color: #080808;
}