/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
:before,
:after {

    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a :focus,
a :active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}



input,
button,
textarea {
    font-family: inherit;
}

input:ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
*{
  margin: 0;
  padding: 0;
}
/*--------------------*/
html {
    
    width: 100%;
    box-sizing: border-box;
  }
  body {
    display: flex;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ecf6+0,ecd5fb+19,d3acee+43,d3acee+44,d3acee+46,d3acee+48,ecd5fb+100 */
background: rgb(242,236,246); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(242,236,246,1) 0%, rgba(236,213,251,1) 19%, rgba(211,172,238,1) 43%, rgba(211,172,238,1) 44%, rgba(211,172,238,1) 46%, rgba(211,172,238,1) 48%, rgba(236,213,251,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(242,236,246,1) 0%,rgba(236,213,251,1) 19%,rgba(211,172,238,1) 43%,rgba(211,172,238,1) 44%,rgba(211,172,238,1) 46%,rgba(211,172,238,1) 48%,rgba(236,213,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(242,236,246,1) 0%,rgba(236,213,251,1) 19%,rgba(211,172,238,1) 43%,rgba(211,172,238,1) 44%,rgba(211,172,238,1) 46%,rgba(211,172,238,1) 48%,rgba(236,213,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ecf6', endColorstr='#ecd5fb',GradientType=1 ); /* IE6-9 */

    flex-direction: column;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   min-height: 100vh;
    line-height: 1.2;
   
  }
  



/*header*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.seach-form{
  width: auto;
  float: right;
 display: flex;
 align-items: center;
 margin-left: 30px;
}
.seach-site {
  width: 120px;
  height: 30px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fff;
  outline: none;
  position: relative;
  transition: .3s linear;
  opacity: 0.8;
  font-size: 12px;
}
.seach-site:focus {
  width: 170px;
  position: relative;
  opacity: 1;
  font-size: 16px;
}

.seach-button{
  width: 32px;
  height:32px;
  background: none;
  border: none;
z-index: 1;
 margin-left:-30px;
}
.seach-button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}





.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0px 30px;
}

.header {
  flex: 0 0 auto;

  margin-top: 75px;

}

.header h1 {
  text-align: center;
  color:#7a52b3;
  font-size: calc(18px + 12 * (100vw/1280));
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;

  span{
    font-size: calc(12px + 12 * (100vw/1280));
  }
}

.main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

.content {
  margin-bottom: -20px;
  padding: 50px 10px;
  text-align: center;
  a{
    font-size: 22px;
    color: #7a52b3;}
}
.vibrate-3 {
	-webkit-animation: vibrate-3 0.5s linear infinite both;
	        animation: vibrate-3 0.5s linear infinite both;
          
}
@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.vibrate-3:hover{
 display: contents;



}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
  z-index: 50;
  box-shadow: 0px 5px 5px black;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
   
    display: flex;
    align-items: center;
    img{
        height: 60px;
        width: 60px;
    }
  }

 .menu{
  width: 660px;
  margin: 0 auto 30px;
  
}
#ul{
  list-style: none;
  margin: 0;
  padding: 0;
  
 
  }
.topmenu > li{
  display: inline-block;
  margin-right: 20px;
  position: relative;
 
  }
  
  .topmenu > li>a:hover{
      opacity: 1;
      transition: 0.8s;
      color:#000000;
      }
  .topmenu > li:last-child{
    margin-right: 0;

  }
  .topmenu>li>a {
    display: block;
    padding: 30px 15px;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    transform: .3s linear;
    color: #fff;
    opacity:0.8;
    text-transform: uppercase;
 }
 .fa fa-angle-down:hover{
  background: #7a52b3;
 
 }
 
 .fa fa-angle-down{
  background: #7a52b3;
  right:20px;
  color: #fff;
  
 }
 .fa {

  padding-left: 10px;
  
  
 }

 .submenu{
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 70;
  transition: 0.8s ease-in-out;
  display: none;
  font-size: 20px;

 }
.submenu>li>a{
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 15px;
}
.submenu>li>a:hover{
  opacity: 1;
  color:#000000;
  transition: 0.8s;
}
 .menu ul li:hover  .submenu{
  display: block;
  opacity: 1;
  color:#000000;
  transition: 0.8s;
 }
 
.popup1-link{
font-size: calc(8px + 8 * (100vw/1280));
text-transform: uppercase;
color: #fff;
display: flex;
align-items: center;
opacity: 0.8;
}
.popup1-link:hover{
  opacity: 1;
  color:#000000;
   
}



.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);

}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);

}

@media (max-width: 904px) {
  .textinput {
    border-bottom: 2px solid  #7a52b3;
    height: 40px;
    display: flex;
    font-size: 18px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    background-color:rgba(236,213,251,1) ;
}
  .seach-form{
   
   margin-left: 0px;
  }
  .popup1-link:hover{

   opacity: 1;
   color:#000000;
   transition: 0.8s;
  }
  .topmenu>li{
  margin-bottom: 140px;

 }
 .menu ul li .submenu{
  display: block;
  
 }


  .fa {
    background:  #fff;
    padding-left: 10px;
    opacity: 0.8;
    color: #7a52b3;
   
   }
   .topmenu>li>a {
    
    color: #7a52b3;

 }
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
   
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.8;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f; 
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    opacity: 0.8;
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    opacity: 0.8;
  }
  
  body.noscroll {
    overflow: hidden;
  }
  .hamb__field.active::after{
    display: none;
  
  }
  .hamb__field.active{
    background: #7a52b3;
  }
}

/*center*/
.discription {
    margin-top: 20px;
    text-align: center;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.discriptiont{
  position: relative;
  border-radius: 10px;
  background-color: #bcd3f0;
  font-size: calc(12px + 4 * (100vw/1280));
  box-shadow: 0px 5px 5px black;
}
.discriptiont::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  align-items: center;
  transform: rotate(135deg);
  position: absolute;
  left: 50%;
 
  top: -10px;
  background-color: #bcd3f0;
  z-index: -1;
}
.centera{
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.buttoma{
  display: flex;
  justify-content: center;
 
}
.panel {

  display: none;
  overflow: hidden;
}
.accordion{
  cursor: pointer;
  transition: max-height 0.2s ease-out;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
@media (max-width: 964px){
  .textbalbeg::before{
    left:-130px;
 
 }
  .balbeg{
    flex-direction: column;
    
    align-items: center;
  }
  .balbegt{
    padding-left:110px;
  }
  .baldif{
    flex-direction: column;
    
    align-items: center;
  }
  .baldift{
    padding-left:145px;
  }
  .textbaldif::before{
     left:-120px;
  
  }
  .baletudest{
    padding-left:145px;
  }
  .textbaletudes::before{
     left:-120px;
  
  }
  .baletudes{
    flex-direction: column;
    
    align-items: center;
  }
  .balanst{
    padding-left:160px;
  }
  .textbalans::before{
     left:-120px;
  
  }
  .balans{
    flex-direction: column;
    
    align-items: center;
  }
  .gitbeg{
    flex-direction: column;
    
    align-items: center;
  }
  .gitdif{
    flex-direction: column;
    
    align-items: center;
  }
  .textgitbeg::before{
    left:-120px;
 
 }
 .textgitdif::before{
  left:-120px;

}
.gitbegt{
  padding-left:140px;
}
.gitdift{
  padding-left:140px;
}
.textgitwords::before{
  left:-120px;

}

.gitwordst{
  padding-left:140px;
}
.gitwords{
  flex-direction: column;
  
  align-items: center;
}
.textgitduets::before{
  left:-120px;

}

.gitduetst{
  padding-left:140px;
}
.gitduets{
  flex-direction: column;
  
  align-items: center;
}
}


.balbegt {
  margin-top: 450px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
 
}
.balbeg {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.balbeg1, .balbeg2,.balbeg3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
 p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
}
}
.baldift {
  margin-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textbalbeg{
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px;
}
.textbalbeg::before{

  position: absolute;
  content: "";
  background-image: url(img/balalaikasmall.gif);
width: 120px;
height: 80px;
right: 240px;
bottom: 5px;
}
.textbaldif {
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px;

}
.textbaldif::before{
  position: absolute;
  content: "";
  background-image: url(img/balalaikasmall.gif);
width: 120px;
height: 80px;
right: 310px;
bottom: 5px;
}
.baldif {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.baldif1,.baldif2,.baldif3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
} 
}
.baletudest {
  margin-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textbaletudes {
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px;
}
.baletudes {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.baletudes1,.baletudes2,.baletudes3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
} 
}


.balanst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textbalans {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px;
}
.balans {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.balans1,.balans2,.balans3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
} 
}
.textbaletudes::before{
  position: absolute;
  content: "";
  background-image: url(img/balalaikasmall.gif);
width: 120px;
height: 80px;
right: 230px;
bottom: 5px;
}
.textbalans::before{
  position: absolute;
  content: "";
  background-image: url(img/balalaikasmall.gif);
width: 120px;
height: 80px;
right: 220px;
bottom: 5px;
}
.gitbegt {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textgitbeg {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px;
}
.gitbeg {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.gitbeg1,.gitbeg2,.gitbeg3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
} 
}
.textgitbeg::before{
  position: absolute;
  content: "";
  background-image: url(img/guitarsmall.gif);
width: 120px;
height: 80px;
right: 200px;
bottom: 5px;
}
.gitdift {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textgitdif {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px
}
.gitdif {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.gitdif1,.gitdif2, .gitdif3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
} 
}
.textgitdif::before{
  position: absolute;
  content: "";
  background-image: url(img/guitarsmall.gif);
width: 120px;
height: 80px;
right: 300px;
bottom: 5px;
}
.gitwordst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textgitwords {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px
}
.gitwords {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around; 
}
.gitwords1,.gitwords2{
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
}
}
.textgitwords::before{
  position: absolute;
  content: "";
  background-image: url(img/guitarsmall.gif);
width: 120px;
height: 80px;
right: 290px;
bottom: 5px;
}
.gitduetst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around;
}
.textgitduets {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto; 
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
position: relative;
padding-bottom: 20px
}
.gitduets {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content:space-around; 
}
.gitduets1,.gitduets2 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;
 margin-bottom: 100px;
 p:nth-child(even){
  background-color: #bac6d7;
     }
  p:before {
      content: "";
      width: 30px;
      height: 30px;
   
      background-image: url(/img/pdf.png);
      display: inline-block;
      margin: 0px 2px 0px;
     
  }
    p:visited {
    color: rgb(64, 50, 50);
}

  a:hover {
    border-radius: 15px;
    background-color: #e2d7d7;
      cursor: pointer;
      transition: 0.3s;
  }

 
  p:active {
    color: rgb(4, 4, 28);
}
}
.textgitduets::before{
  position: absolute;
  content: "";
  background-image: url(img/guitarsmall.gif);
width: 120px;
height: 80px;
right: 250px;
bottom: 5px;
}



.audio3{
   
 
  background-color: #bcd3f0;
  border-radius: 10px;
  margin-top: 2px;
padding-left: 5px;
padding-bottom: 1px;

}
p{
  width: 310px;
 }



.audio2{
  display: flex;
margin-top: -7px;
  justify-content:center;
  align-items: center;
  width: 220px;
  height: 23px;
  background-color: #6b0af3;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  color:  #e2d7d7;
  margin-bottom: 10px;
 
}
.audio2:hover{
  background-color:  #5d18bd;
  cursor: pointer;
  transition: 0.3s;
}
.audio1{
  
  height: 20px;
  font-size: 10px;
  
}
.fa-download{
padding-top: 3px;
  background-color:#6b0af3;
  width: 30px;
  height: 20px;
 color: #e2d7d7;
  }
  .fa-download:hover {
    background-color:  #5d18bd;
    cursor: pointer;
   
}

.fa-file-pdf-o{
  color:firebrick;
  right: 20px;
}



/*slider*/
.parallax-slider{
  height: 410px;
  width: 100%;
  min-width: 376px;
  overflow: hidden;
  border-radius: 10px;
  background: url('img/FonSky.jpg') right;
  background-attachment:local;
  display: flex;
  box-shadow: 0px 5px 5px black;
}
.parallax-slider-text{
 padding-top:74px;
 padding-left: 40%;
 padding-right: 45%;
 padding-bottom: 0%;

  
  font-size: 20.8px;
  font-weight:bold;
  color:#7a52b3;
  text-transform: uppercase;
}

  

@media (max-width: 767px){
  .parallax-slider-text{
    padding-top:10%;
 padding-left: 35%;
 padding-right: 45%;
 padding-bottom: 0%;
  }
}
@media (max-width: 509px){
  .parallax-slider-text{
    padding-top:10%;
 padding-left: 0%;

 padding-bottom: 0%;
  }
 
}
@media (max-width: 801px){
  
}
@media (max-width: 1186px){
  .parallax-slider-text{
    padding-top:13%;
 padding-left: 35%;
 padding-right: 45%;
 padding-bottom: 0%;
  }
}
.image-slider1 {
  height: 410px;
  width: 55%;
  min-width: 500px;
  
}

.swiper-conteiner{
  position: absolute;
}


.image-slider1-image {
  text-align: center;
  height: 426px;
 min-width: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.image-slider1-image img{

  height: 410px;
  object-fit: cover;
  border-radius: 10px;
} 
.parallax-slider .swiper-button-prev::after,
.parallax-slider  .swiper-button-next::after {
  color:  #b280f7;
  font-weight: bold;
  font-size: 40px;
 
}

.image-slider1 .swiper-button-prev::after,
.image-slider1  .swiper-button-next::after {
  color:  #7a52b3;
  font-weight: bold;
  display: none;
  
  font-size: 45px;

}


.swiper-pagination {

margin-top: 0px;
}
.swiper-pagination-bullet{

width: 20px;
height: 20px;
line-height: 20px;
font-size: 20px;
background-color: #7a52b3 ;
}
.swiper-scrollbar-drag{
  cursor: pointer;
  background-color: #b086eb;
}
















.footer {
  background-color: #212429;
    height:60px;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
   
    .fa-youtube-square{
      padding-top: 3px;
      background-color: #212429;
  width: 30px;
  height: 30px;
 color: #e2d7d7;
    }
    .footer1 {
      color: #e2d7d7;
      font-size: calc(12px + 6 * (100vw/1280));
    }
    .fa-envelope-square{
      padding-top: 3px;
      background-color: #212429;
  width: 30px;
  height: 30px;
 color: #e2d7d7; 
    }
    .footer-youtude{
display: flex;
    }
    .footer-ebvelope{
display: flex;
    }
}

.go-top {
  position: fixed; /* фиксированное позиционирование */
  left: 20px; /* отступ слева 20px */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */

  cursor: pointer; /* при наведении меняем курсор */
  display: none; /* по умолчанию скрываем кнопку */
  font-size: 18px;
  color: rgba(0, 51, 153, 0.5);
  border: 1px solid rgba(0, 51, 153, 0.5);
  

  border-radius: 50%;
  width: 50px; 
  height: 50px;
 
}

/* меняем прозрачность при наведении мышкой */
.go-top:hover {
  color: rgba(0, 51, 153, 0.8);
  border: 1px solid rgba(0, 51, 153, 0.8);
  background-color: rgba(0, 51, 153, 0.15);
}

/* модификатор для отображения кнопки */
.go-top--show {
  display: block;
  z-index: 1;
}
.triangle-up{

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(0, 51, 153, 0.5);
  position: fixed; /* фиксированное позиционирование */
  left: 35px; /* отступ слева 20px */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-60%); /* выравниваем по центру */
  display: none; /* по умолчанию скрываем кнопку */
  cursor: pointer; /* при наведении меняем курсор */

}
.triangle-up--show {
  display: block;

}
.popup1 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility:hidden;
transition: all 0.8s  ease 0s;
}
.popup1:target{
  opacity: 1;
  visibility: visible;

}
.popup1:target .popup1__content{
  opacity: 1;
 
  transform:perspective(600px) translate(0px,0%)rotateX(0deg);
}
.popup1__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px,10px;
}
.popup1__content {
  background-color: #fafafa;
  color: #000000;
  width: 320px;
  height: 500px;
 
  position: relative;
  transform:perspective(600px) translate(0px,-100%)rotateX(45deg);
  opacity: 0;
  transition: all 0.8s  ease 0s;
}
.popup1__close {
  position: absolute;
right:15px;
top:15px;
font-size: 20px;
color: #000000;
text-decoration: none;
}
.popup1__close:hover {
background-color: #d3baf5;
}
.popup1__title {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.popup1__close:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 24px;
}
.popup1__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
input:focus {
  background-color:rgba(236,213,251,1) ;
  }
.textinform{
  width: 300px;
  height: 480px;

  display: flex;
  align-items: center;
  justify-content: center;
 

}
.textinform1{
  background-color:rgba(236,213,251,1) ;

}

  .textinput {
      border-bottom: 2px solid  #7a52b3;
      height: 2em;
      display: flex;
      font-size: 18px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      background-color:rgba(236,213,251,1) ;

    
  }

  .textinput._error{
    box-shadow: 0 0 15px red;
  }
  
  .textinput:focus {
      box-shadow: 0 0 10px black;
  }
 
  .textbutton {
      display: block;
      width: 90%;
      height: 50px;
      background: #7a52b3;
      font-size: 18px;
      color: #111010;
      text-transform: uppercase;
      border-radius: 24px;
      box-shadow: 0px 5px 5px black;
      font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
      letter-spacing: 1px;
      margin: 25px auto;
      cursor: pointer;
      transition: all 0.8s ease 0s;
  
  }
  .textbutton:hover {
    background: #b086eb;
    transform: scale(1.1) translate(5px, 5px);
   
   }
  
   .consent {
    display: flex;
    font-size: 12px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
   }

   