/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a :focus,
a :active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input:ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

/*--------------------*/
html {
  width: 100%;

  box-sizing: border-box;
}

body {
  display: flex;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2ecf6+0,ecd5fb+19,d3acee+43,d3acee+44,d3acee+46,d3acee+48,ecd5fb+100 */
  background: rgb(242, 236, 246);
  /* Old browsers */
  background: -moz-linear-gradient(left,
      rgba(242, 236, 246, 1) 0%,
      rgba(236, 213, 251, 1) 19%,
      rgba(211, 172, 238, 1) 43%,
      rgba(211, 172, 238, 1) 44%,
      rgba(211, 172, 238, 1) 46%,
      rgba(211, 172, 238, 1) 48%,
      rgba(236, 213, 251, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left,
      rgba(242, 236, 246, 1) 0%,
      rgba(236, 213, 251, 1) 19%,
      rgba(211, 172, 238, 1) 43%,
      rgba(211, 172, 238, 1) 44%,
      rgba(211, 172, 238, 1) 46%,
      rgba(211, 172, 238, 1) 48%,
      rgba(236, 213, 251, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,
      rgba(242, 236, 246, 1) 0%,
      rgba(236, 213, 251, 1) 19%,
      rgba(211, 172, 238, 1) 43%,
      rgba(211, 172, 238, 1) 44%,
      rgba(211, 172, 238, 1) 46%,
      rgba(211, 172, 238, 1) 48%,
      rgba(236, 213, 251, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ecf6', endColorstr='#ecd5fb', GradientType=1);
  /* IE6-9 */

  flex-direction: column;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  min-height: 100vh;
  line-height: 1.2;

}

/*header*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.seach-form {
  width: auto;
  float: right;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.seach-site {
  width: 120px;
  height: 30px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fff;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  opacity: 0.8;
  font-size: 12px;
  cursor: pointer;
}

.seach-site:focus {
  width: 170px;
  position: relative;
  opacity: 1;
  font-size: 16px;
}

.seach-button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  z-index: 1;
  margin-left: -30px;
  cursor: default;
}

.seach-button:before {
  content: "";
  background-image: url(img/Zoom.svg);
  background-size: cover;
  height: 13px;
  width: 13px;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 100%;

  margin: 0 auto;
  height: 100%;
  padding: 0px 30px;
}

.header {
  flex: 0 0 auto;

  margin-top: 75px;
}

.header h1 {
  text-align: center;

  font-size: calc(18px + 12 * (100vw / 1280));
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;


  .span1 {
    background-image: linear-gradient(rgba(75, 11, 97, 0.949), rgb(114, 59, 244));
    background-clip: text;
    color: transparent;

  }

  .span2 {
    font-size: calc(12px + 12 * (100vw / 1280));
    background-image: linear-gradient(rgba(75, 11, 97, 0.949), rgb(114, 59, 244));
    background-clip: text;
    color: transparent;
  }

}

.main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

.content {
  margin-bottom: -20px;
  padding: 50px 10px;
  text-align: center;

  a {
    font-size: 22px;
    color: #7a52b3;
  }
}

.vibrate-3 {


  a {
    display: block;
    padding: 30px 10px;
  }

  -webkit-animation: vibrate-3 0.5s linear infinite both;
  animation: vibrate-3 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.vibrate-3:hover {
  display: contents;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
  z-index: 50;
  box-shadow: 0px 5px 5px black;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.navbar__wrap-left {
  display: flex;
  gap: 10px;
}

.navbar__wrap-right {
  display: flex;

}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 60px;
    width: 60px;
  }
}

.menu {
  width: 660px;
  margin: 0 auto 30px;
}

#ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu>li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.topmenu>li>a:hover {
  opacity: 1;
  transition: 0.8s;
  color: #000000;
}

.topmenu>li:last-child {
  margin-right: 0;
}

.topmenu>li>a {
  display: block;
  padding: 30px 15px;
  text-decoration: none;
  outline: none;
  font-size: 15px;
  transform: 0.3s linear;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;

}

.angle-down:hover::after {
  border-top: 2px solid#151414;
  border-right: 2px solid #121010;
}
.angle-down1:hover::after {
  border-top: 2px solid#151414;
  border-right: 2px solid #121010;
}
.angle-down::after {
  content: "";
  position: absolute;
  left: 170px;
  top: 30px;
  width: 10px;
  height: 10px;
  border-top: 2px solid#fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
}

.angle-down1::after {
  content: "";
  position: absolute;
  left: 203px;
  top: 30px;
  width: 10px;
  height: 10px;
  border-top: 2px solid#fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
}

.submenu {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 70;
  transition: 0.8s ease-in-out;
  display: none;
  font-size: 20px;
}

.submenu>li>a {
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 15px;
  color:#7b00ff;
}

.submenu>li>a:hover {
  opacity: 1;
  color: #000000;
  transition: 0.8s;
  position: relative;
}

.menu ul li:hover .submenu {
  display: block;
  opacity: 1;
  color: #000000;
  transition: 0.8s;
}
.hover{
  color:#7b00ff;
}
.hover:hover {
  opacity: 1;
  transition: 0.8s;
}

.popup1-link {
  font-size: calc(8px + 8 * (100vw / 1280));
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.popup1-link:hover {
  opacity: 1;
  color: #000000;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu>li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu>li>a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu>li>a:hover {
  color: rgba(255, 255, 255, 1);
}

.header-youtude,
.header-ebvelope {
  display: flex;
  align-items: center;
  padding-right: 5px;
}


@media (max-width: 500px) {
  .navbar__wrap {
    padding-left: 10px;
  }

  .header-youtude,
  .header-ebvelope {
    padding-right: 0px;
    display: none;
  }

  .container {

    padding: 5px;
  }
}

@media (max-width: 992px) {
  .navbar__wrap-right {

    justify-content: flex-end;

  }

  .angle-down1:hover:after,.angle-down:hover:after{
    display: none;
  }

  .textinput {
    border-bottom: 2px solid #7a52b3;
    height: 40px;
    display: flex;
    font-size: 18px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    background-color: rgba(236, 213, 251, 1);
  }

  .seach-form {
    margin-left: 0px;
  }

  .popup1-link:hover {
    opacity: 1;
    color: #000000;
    transition: 0.8s;
  }
 
  .topmenu>li {
    margin-bottom: 140px;
  }

  .menu ul li .submenu {
    display: block;
  }

  .fa {
    background: #fff;
    padding-left: 10px;
    opacity: 0.8;
    color: #7a52b3;
  }

  .topmenu>li>a {
    color: #7a52b3;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    
    display: flex;
    align-items: center;
    
  }
  .oval{
    margin-right: 20px;
    margin-top: 12px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

  }
  .hamb__field {
    padding: 10px 10px;
    cursor: pointer;
    opacity: 0.8;
   

  }
.oval:hover{
  background-color:#5d3f87
}
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu>li {
    width: 100%;
  }

  .popup .menu>li>a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
   
  }
  
  .popup .menu>li>a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  
  .hamb__field.active .bar:nth-child(2) {

    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8.5px)rotate(45deg);

    opacity: 1;
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg);

    opacity: 1;
  }

  body.noscroll {
    overflow: hidden;
  }

  .hamb__field.active::after {
    display: none;
  }

  .hamb__field.active {
    background: #7a52b3;
  }
}

/*center*/
.discription {
  margin-top: 20px;
  text-align: center;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.discriptiont {
  position: relative;
  border-radius: 10px;
  background-color: #bcd3f0;
  font-size: calc(12px + 4 * (100vw / 1280));
  box-shadow: 0px 5px 5px black;
  padding: 10px;
}

.text-ul {
  margin-top: 15px;
}

.text-ul>ul>li::before {
  content: "\2713";
  font-weight: 600;
  display: inline-block;
  left: 0px;
  top: -2px;
  position: relative;
}

.text-ul>ul>li>span::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  top: 0px;
  display: inline-block;
  left: -10px;
  position: relative;
}

h3 {

  font-weight: 600;
  display: inline;
  padding-bottom: 15px;
}

.discriptiont::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  align-items: center;
  transform: rotate(135deg);
  position: absolute;
  left: 50%;

  top: -10px;
  background-color: #bcd3f0;
  z-index: -1;
}

.centera {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.buttoma {
  display: flex;
  justify-content: center;
}

.panel {
  display: none;
  overflow: hidden;
}

.accordion {
  cursor: pointer;
  transition: max-height 0.8s ease-out;
}

.active,
.accordion:hover {
  background-color: #ccc;
  border-radius: 10px;
}

.accordion:after {
  content: "\25B2";
  /* Unicode character for "plus" sign (+) */
  transform: rotate(270deg);
  font-size: 20px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25BC";
  /* Unicode character for "minus" sign (-) */
  transform: rotate(0deg);
}



.notes {
  padding: o, 5px, 0;

}



@media (max-width: 993px) {

  .textbalbeg::before {
    left: -130px;
  }

  .balbeg1,
  .balbeg2,
  .balbeg3,
  .balans1,
  .balans2,
  .balans3,
  .baldif1,
  .baldif2,
  .baldif3,
  .baletudes1,
  .baletudes2,
  .baletudes3,
  .gitbeg1,
  .gitbeg2,
  .gitbeg3,
  .gitdif1,
  .gitdif2,
  .gitdif3,
  .gitwords1,
  .gitwords2,
  .gitduets1,
  .gitduets2 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .balbeg,
  .balans,
  .baldif,
  .baletudes,
  .gitbeg,
  .gitdif,
  .gitwords,
  .gitduets {
    flex-wrap: wrap;
    row-gap: 15px;

    align-items: center;
  }

  .balbegt {
    padding-left: 110px;
  }



  .baldift {
    padding-left: 145px;
  }

  .textbaldif::before {
    left: -120px;
  }

  .baletudest {
    padding-left: 145px;
  }

  .textbaletudes::before {
    left: -120px;
  }



  .balanst {
    padding-left: 160px;
  }

  .textbalans::before {
    left: -120px;
  }


  .textgitbeg::before {
    left: -120px;
  }

  .textgitdif::before {
    left: -120px;
  }

  .gitbegt {
    padding-left: 140px;
  }

  .gitdift {
    padding-left: 140px;
  }

  .textgitwords::before {
    left: -120px;
  }

  .gitwordst {
    padding-left: 140px;
  }


  .textgitduets::before {
    left: -120px;
  }

  .gitduetst {
    padding-left: 140px;
  }
}

.balbegt {
  margin-top: 450px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.balbeg {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.balbeg1,
.balbeg2,
.balbeg3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.baldift {
  margin-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textbalbeg {
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.textbalbeg::before {
  position: absolute;
  content: "";
  background-image: url(img/balalaika.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.textbaldif {
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.textbaldif::before {
  position: absolute;
  content: "";
  background-image: url(img/balalaika.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.baldif {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.baldif1,
.baldif2,
.baldif3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.baletudest {
  margin-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textbaletudes {
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.baletudes {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.baletudes1,
.baletudes2,
.baletudes3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.balanst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textbalans {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.balans {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.balans1,
.balans2,
.balans3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.textbaletudes::before {
  position: absolute;
  content: "";
  background-image: url(img/balalaika.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.textbalans::before {
  position: absolute;
  content: "";
  background-image: url(img/balalaika.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.gitbegt {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textgitbeg {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.gitbeg {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.gitbeg1,
.gitbeg2,
.gitbeg3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.textgitbeg::before {
  position: absolute;
  content: "";
  background-image: url(img/guitar.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.gitdift {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textgitdif {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.gitdif {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.gitdif1,
.gitdif2,
.gitdif3 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.textgitdif::before {
  position: absolute;
  content: "";
  background-image: url(img/guitar.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.gitwordst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textgitwords {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.gitwords {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.gitwords1,
.gitwords2 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.textgitwords::before {
  position: absolute;
  content: "";
  background-image: url(img/guitar.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.gitduetst {
  padding-top: 10px;
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
}

.textgitduets {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  margin: 0 auto;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  position: relative;
  padding-bottom: 20px;
}

.gitduets {
  width: 100%;
  min-width: 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.gitduets1,
.gitduets2 {
  box-shadow: 0px 5px 5px black;
  height: 100%;
  background-color: #e2d7d7;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 320px;
  line-height: 30px;

  .audio3:nth-child(even) {
    background-color: #bac6d7;
  }

  .audio3:before {
    content: "";
    width: 30px;
    height: 30px;

    background-image: url(/img/pdf.png);
    background-size: cover;
    background-position: top center;
    display: inline-block;
    margin: 0px 2px 0px;
  }

  .audio3:visited {
    color: rgb(64, 50, 50);
  }

  .elastic:hover {
    color: #7a52b3;
    cursor: pointer;
    transition: 0.3s;
  }

  .audio3:active {
    color: rgb(4, 4, 28);
  }
}

.textgitduets::before {
  position: absolute;
  content: "";
  background-image: url(img/guitar.gif);
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 40px;
  left: -80px;
  bottom: 25px;
}

.audio3 {
  background-color: #bcd3f0;
  border-radius: 10px;
  margin-top: 2px;
  padding-left: 5px;
  padding-bottom: 1px;
  width: 310px;
}



.audio2 {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;

  width: 220px;
  height: 23px;
  background-color: #7b00ff;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.audio2:hover {
  background-color: white;
  cursor: pointer;
  transition: all 0.8s ease 0s;
}

.audio1 {
  height: 20px;
  font-size: 10px;
}



.download-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  transition: all 0.8s ease 0s;

  svg {
    transition: all 0.8s ease 0s;
    height: 11px;
    fill: white;
  }
}

.download-text1 {
  width: 180px;

}

.download-text:hover {
  color: #7b00ff;

  svg {
    transition: all 0.8s ease 0s;
    fill: #7b00ff;
  }
}

.audio2:active {

  background-color: #e2d7d7;
}

.download {
  width: 20px;

}

/*slider*/
.parallax-slider {
  height: 410px;
  width: 98%;
  min-width: 315px;
  overflow: hidden;

  border-radius: 10px;
  background: url("img/FonSky.webp");
  background-size: cover;
  background-attachment: local;
  display: flex;
  box-shadow: 0px 5px 5px black;
}

.parallax-slider-text {
  padding-top: 74px;
  padding-left: 40%;
  padding-right: 45%;
  padding-bottom: 0%;

  font-size: 20.8px;
  font-weight: bold;
  color: #7a52b3;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .parallax-slider-text {
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 45%;
    padding-bottom: 0%;
  }
}

@media (max-width: 509px) {
  .parallax-slider-text {
    padding-top: 10%;
    padding-left: 0%;

    padding-bottom: 0%;
  }
}



@media (max-width: 1186px) {
  .parallax-slider-text {
    padding-top: 13%;
    padding-left: 35%;
    padding-right: 45%;
    padding-bottom: 0%;
  }
}

.image-slider1 {
  height: 410px;
  width: 55%;
  min-width: 315px;
}

.swiper-conteiner {
  position: absolute;
}

.image-slider1-image {
  text-align: center;
  height: 426px;
  min-width: 315px;
  overflow: hidden;
  border-radius: 10px;
}

.image-slider1-image img {
  height: 410px;
  object-fit: cover;
  border-radius: 10px;
}

.parallax-slider .swiper-button-prev::after,
.parallax-slider .swiper-button-next::after {
  color: #b280f7;
  font-weight: bold;
  font-size: 40px;
}

.image-slider1 .swiper-button-prev::after,
.image-slider1 .swiper-button-next::after {
  color: #7a52b3;
  font-weight: bold;
  display: none;

  font-size: 45px;
}

.swiper-pagination {
  margin-top: 0px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  background-color: #7a52b3;
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #b086eb;
}

// footer
.footer {
  background-color: black;
  height: 260px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .footer-top {
    .tabs {
      padding-top: 20px;

    }

    .tabs__body {
      padding-top: 15px;
    }

    font-size: calc(10px + 5 * (100vw / 1280));
    display: flex;
    justify-content: space-around;
    align-items: center;

    .tabs__blok:target {
      display: block;
    }

    .tabs__blok {
      display: flex;
      flex-direction: column;
      display: none;

      line-height: 24px;
      position: relative;
    }

    .tabs__blok:nth-child(1) {
      background-color: #7a52b3;

    }

    .tabs__blok:nth-child(2) {
      background-color: #7a52b3;
    }

    .tabs__blok:nth-child(1)::before {
      background-color: #7a52b3;
    }

    .tabs__blok:nth-child(2)::before {
      background-color: #7a52b3;
      left: 50%;
    }

    .tabs__blok::before {
      content: "";
      height: 42px;
      width: 50%;
      position: absolute;
      top: -40px;
      left: 0;

    }

    .bn>input,
    .gn>input {
      display: none;
    }

    .bn {
      padding-left: 5px;
    }

    .gn {
      padding-right: 25px;
      padding-left: 30px;

    }

    .tabs__items {
      color: #e2d7d7;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;

    }

    .tabs__hover {
      padding: 5px;
    }

    .tabs__items span {
      position: relative;
      z-index: 2;
      padding: 10px 5px 14px;

      &:hover {
        opacity: 1;
        transition: 0.8s;
        color: rgba(211, 172, 238, 1);
      }

      &:active {

        background-color: #324b4e;
      }
    }

    .tabs__item {
      height: 20px;
      color: #e2d7d7;
    }



    .g1>a,
    .g2>a,
    .g3>a,
    .g4>a,
    .b1>a,
    .b2>a,
    .b3>a,
    .b4>a {

      display: block;
      color: #e2d7d7;
      opacity: 0, 8;
      text-transform: uppercase;

      &:hover {
        opacity: 1;
        transition: 0.8s;
        color: rgba(211, 172, 238, 1);

        &:active {

          background-color: #324b4e;
        }
      }
    }
  }

  .footer1 {
    color: #e2d7d7;
    font-size: calc(12px + 6 * (100vw / 1280));
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    .rute {
      cursor: default;
    }

    .footer-youtude {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      cursor: pointer;
    }

    .footer-ebvelope {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      cursor: pointer;
    }
  }
}

.maill-svg {
  height: 30px;
  width: 30px;
  fill: #526cfc;
  transition: all 0.8s ease 0s;
}

.maill-svg:hover {
  fill: #e2d7d7;
}

.youtube-svg {
  height: 47px;
  width: 47px;
  fill: #f03955;
  transition: all 0.8s ease 0s;
}

.youtube-svg:hover {
  fill: #e2d7d7;
}

.rute {
  color: #e2d7d7;
}




.go-top {
  position: fixed;
  /* фиксированное позиционирование */
  left: 20px;
  /* отступ слева 20px */
  top: 50%;
  /* выравниваем по центру */
  transform: translateY(-50%);
  /* выравниваем по центру */

  cursor: pointer;
  /* при наведении меняем курсор */
  display: none;
  /* по умолчанию скрываем кнопку */
  font-size: 18px;
  color: rgba(0, 51, 153, 0.5);
  border: 1px solid rgba(0, 51, 153, 0.5);

  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* меняем прозрачность при наведении мышкой */
.go-top:hover {
  color: rgba(0, 51, 153, 0.8);
  border: 1px solid rgba(0, 51, 153, 0.8);
  background-color: rgba(0, 51, 153, 0.15);
}

/* модификатор для отображения кнопки */
.go-top--show {
  display: block;
  z-index: 1;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(0, 51, 153, 0.5);
  position: fixed;
  /* фиксированное позиционирование */
  left: 35px;
  /* отступ слева 20px */
  top: 50%;
  /* выравниваем по центру */
  transform: translateY(-60%);
  /* выравниваем по центру */
  display: none;
  /* по умолчанию скрываем кнопку */
  cursor: pointer;
  /* при наведении меняем курсор */
}

.triangle-up--show {
  display: block;
}


// popup1
.popup1 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup1:target {
  opacity: 1;
  visibility: visible;
}

.popup1:target .popup1__content {
  opacity: 1;

  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup1__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px, 10px;
}

.popup1__content {
  background-color: #fafafa;
  color: #000000;
  width: 320px;
  height: 500px;

  position: relative;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.popup1__close {
  position: absolute;
  height: 35px;
  width: 35px;
  right: 15px;
  top: 20px;
  cursor: pointer;

}

.popup1__close:hover {
  background-color: #d3baf5;
  border-radius: 50%;
}

.popup1__title {
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup1__close:before,
.popup1__close::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 5px;
  background: #585353;
  right: 5px;
  top: 14px;
}

.popup1__close:before {
  transform: rotate(45deg);
}

.popup1__close::after {
  transform: rotate(-45deg);
}

.popup1__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

input:focus {
  background-color: rgba(236, 213, 251, 1);
}

.textinform {
  width: 300px;
  height: 480px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.textinform1 {
  background-color: rgba(236, 213, 251, 1);
}

.textinput {
  border-bottom: 2px solid #7a52b3;
  height: 2em;
  display: flex;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: rgba(236, 213, 251, 1);
  resize: none;
  padding: 10px;
}
.placeholder{
  height: 3em;
}
.textinput._error {
  box-shadow: 0 0 15px red;
}

.textinput:focus {
  box-shadow: 0 0 10px black;
}

.textbutton {
  display: block;
  width: 90%;
  height: 50px;
  background: #7a52b3;
  font-size: 18px;
  color: #111010;
  text-transform: uppercase;
  border-radius: 24px;
  box-shadow: 0px 5px 5px black;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  letter-spacing: 1px;
  margin: 25px auto;
  cursor: pointer;
  transition: all 0.8s ease 0s;
}

.textbutton:hover {
  background: #b086eb;
  transform: scale(1.1) translate(5px, 5px);
}

.consent {
  display: flex;
  font-size: 12px;
  width: 250px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}